<html class="wide wow-animation" lang="en">
  <head>
    <title>404 page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300;500;700&amp;display=swap">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
<div>
    <section class="section section-single bg-gray-darker bg-image bg-overlay-3" style="background-image: url(/images/bg-404.jpg);">
      <div class="section-single-inner">
        <header class="section-single-header">
          <div class="container"><a class="brand brand-md" href="/"><img src="/images/logo-inverse-124x30.svg" alt="" width="124" height="30"/></a></div>
        </header>
        <div class="section-single-main">
          <div class="container">
            <div class="row justify-content-md-center">
              <div class="col-md-9 col-lg-8">
                <h5>Sorry, but page was not found</h5>
                <div class="text-extra-large-bordered">
                  <p>404</p>
                </div>
                <p>You may have mistyped the address or the page may have moved.</p>
                <div class="group-xl"><a class="btn btn-lg btn-circle btn-primary" href="/">Back to home</a><a class="btn btn-lg btn-circle btn-white-outline" href="/#contact">Contact us</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-single-footer">
          <div class="container">
            <p class="rights"><span>City Painting Services Inc</span><span>&nbsp;&#169;&nbsp;</span><span class="copyright-year"></span> <span>All Rights Reserved&nbsp;</span></p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <script src="/js/core.min.js"></script>
  <script src="/js/script.js"></script>
</body>
</html>